In [75]:
import pandas as pd
import numpy as np
# utm
# pip install utm
import utm
import re
from glob import glob
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None

In [76]:
data = pd.read_csv('./data_deplacement_travail/input/BTT_TD_NAV2B_2019.csv', delimiter=';', low_memory=False)
data

,NIVGEO,CODGEO,LIBGEO,ILTDUU,SEXE,TRANS_19,NB
0,COM,01001,L'Abergement-Clémenciat,1,1,1,20.658734
1,COM,01001,L'Abergement-Clémenciat,1,1,5,20.244423
2,COM,01001,L'Abergement-Clémenciat,1,2,1,10.185512
3,COM,01001,L'Abergement-Clémenciat,1,2,5,21.230201
4,COM,01001,L'Abergement-Clémenciat,1,2,6,4.689779
...,...,...,...,...,...,...,...
313567,COM,97424,Cilaos,5,1,5,146.205076
313568,COM,97424,Cilaos,5,1,6,10.135721
313569,COM,97424,Cilaos,5,2,2,5.281116
313570,COM,97424,Cilaos,5,2,5,44.898508
313571,COM,97424,Cilaos,5,2,6,10.262037

#### ILTDUU : lieu de travail (géographie urbaine)

1 : réside dans une commune rurale et travaille dans la même commune

2 : réside dans une commune rurale et travaille dans une autre commune

3 : réside dans une commune urbaine et travaille dans la même commune

4 : réside dans une commune urbaine et travaille dans une autre commune de la même unité urbaine de résidence

5 : réside dans une commune urbaine et travaille en dehors de l'unité urbaine de résidence

#### SEXE : sexe

1 : hommes

2 : femmes

#### TRANS_19 : mode de transport

1 : Pas de transport

2 : Marche à pied

3 : Vélo

4 : Deux-roues motorisé

5 : Voiture, camion, fourgonnette

6 : Transports en commun

In [77]:
data_bis = data.copy()

data_bis['CODGEO']=data['CODGEO'].astype('str')
data_bis['Departement']=data['CODGEO'].map(lambda x: x[0:2])
dico = {1:"Rien",
        2:"Marche",
        3:"Velo",
        4:"Deux_roues",
        5:"Auto",
        6:"TC"}
data_bis['Transport']=0
data_bis['Transport']=data_bis['TRANS_19'].map(dico)
data_bis = data_bis.drop(columns=['NIVGEO','CODGEO','ILTDUU','SEXE','TRANS_19'])
pop_tot = data_bis['NB'].sum()
data_bis['ProportionPopActive']=(data_bis['NB']/pop_tot)*100

data_bis=data_bis[data_bis['Transport']=='Auto']
data_bis.groupby('Departement').sum()
data_bis.to_csv('data_deplacement_travail/clean/NB_Actifs_DeplacementsAutomobile.csv')